.upload-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
  }
  
  .upload-picker {
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .upload-picker:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .upload-picker input[type="file"] {
    padding: 10px;
    cursor: pointer;
    background-color: #6e00ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .drag-drop-zone {
    border: 3px dashed #6e00ff;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .drag-drop-zone:hover {
    background-color: #e0e0e0;
  }
  
  /* 반응형 미디어 쿼리 */
  @media only screen and (max-width: 768px) {
    .upload-container {
      flex-direction: column;
      align-items: center;
    }
  
    .drag-drop-zone,
    .upload-picker {
      width: 100%;
      max-width: 500px;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .upload-picker input[type="file"],
    .drag-drop-zone {
      font-size: 0.9rem;
    }
  }
  